*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	background:	#b1daea;
	letter-spacing: 1px;
}
.wrapper{
	max-width: 50vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}
h1{font-size: 65px}
.wrapper>h2{
	font-size: 45px;
	margin: 20px 0;
}
article{
	color: floralwhite;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.slideRules{
	background: #0195ae;
	font-size: 30px;
	padding: 10px 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.slideRules:hover{
	cursor: pointer;
}
#rules {
	padding: 20px;
	font-size: 25px;
	border-radius-bottom: 10px;
	background: #85c8de;
	color: black;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	display: none;

}
.TaskProgress{
	position: fixed;
	top: 40vh;
	left: 1vw;
	padding: 2.5vh;
}

.TaskProgress p{
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px ;
}
.TimeProgress{
	position: fixed;
	top: 1vh;
	left: 1vw;
	padding: 2.5vh;
}

.TimeProgress p{
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px ;
}
#win{
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#win a{
	padding: 1rem 2rem;
	font-size: 40px;
	background: #57CC99;
	color: whitesmoke;
	border-radius: 12px;
	text-decoration: none;
	margin-top: 2rem;
}

#start{
	width: 250px;
	height: 10vh;
	font-size: 40px;
	background: #3b1b5b;
	color:whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px ;
	margin-bottom: 50px;
}
#start:hover{
	cursor: pointer;
}
.gameboard{
	width: 100%;
	gap: 5px;
	display: none;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 100px);
}
.gameboard > div{
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	transition: all 0.5s;
	transform-style: preserve-3d;
}
.front{
	background: url(https://img-s3.onedio.com/id-5ca756bb2aaefb691eda9d6e/rev-0/w-205/h-205/f-jpg-webp/s-ac783a2ad29baade00a54945ec6cca238df35541.webp);
	backface-visibility: hidden ;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right:0 ;
	color: whitesmoke;
	font-weight: bold;
	background-size: 100% 100%;
}
.back{
	backface-visibility: hidden ;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right:0 ;
	background: whitesmoke;
	transform: rotateY(180deg);
}
.back img{
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
}
.flip{
	transform: rotateY(180deg);
}
